{% extends 'base.html' %}
{% load static manufacture_state_date_title get_all_products %}

{% block content %}
    {% get_all_products as all_products %}

    {% include "manufacture/states_bar.html" with selected=data.state %}
    {% include "common/flash_messages.html" %}

    {% if data.state %}

        <div class="mx-5 mb-5">

            {% if data.manufactures %}
                <div class="row justify-content-center">
                    <span class="mr-3 mt-1">Filtrar:</span>
                    <select onchange="filter_manufactures_by_product(this.value)" class="form-control w-auto mb-3">
                        <option value="0">Todos</option>
                        {% for product in all_products %}
                            <option value="{{ product.id }}">{{ product.name|title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <table class="table border border-dark">
                    <thead>
                    <tr>
                        <th scope="col" class="bg-light text-center border border-dark">Producto</th>
                        <th scope="col"
                            class="bg-light text-center border border-dark">{{ data.state|manufacture_state_date_title }}</th>
                        <th scope="col" class="bg-light text-center border border-dark">Talle</th>
                        <th scope="col" class="bg-light text-center border border-dark">Colores</th>
                        <th scope="col" class="bg-light text-center border border-dark">Acciones</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for manufacture in data.manufactures %}

                        <tr class="manufacture-list-item manufacture-list-item-{{ manufacture.product.id }}">
                            <td class="text-center align-middle border border-dark"
                                style="font-size: 2.2em">{{ manufacture.product.name|title }}</td>
                            <td class="text-center align-middle border border-dark"
                                style="font-size: 1.7em">{{ manufacture.status_changed|date:'d / m' }}</td>
                            <td class="text-center align-middle border border-dark"
                                style="font-size: 1.7em">{{ manufacture.size.size|upper }}</td>
                            <td class="text-center align-middle border border-dark">
                                <ul class="list-group list-group-flush">
                                    {% for item in manufacture.items %}
                                        <li class="list-group-item">
                                            <span>{{ item.color.color|title }}</span>
                                            <span class="border border-secondary rounded-circle ml-4 px-3 py-1">{{ item.count }}</span>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center align-middle border border-dark">
                                {% include 'manufacture/actions.html' with manufacture=manufacture state=data.state %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {% else %}

                <div class="text-center font-italic text-primary h1">
                    No hay cortes
                </div>

            {% endif %}

        </div>

    {% endif %}

    <script src="{% static 'manufactures/list_filter.js' %}"></script>
{% endblock %}