{% load navbar_urls %}
{% navbar_urls as sections %}

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Compras MG</a>
    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for section in sections %}
                <li class="nav-item {% if section.active in request.get_full_path %}active{% endif %}">
                    <a class="nav-link" href="{% url section.url %}">{{ section.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>