{% extends 'config/index.html' %}

{% block config_content %}

    <div class="row justify-content-center text-center">
        <table class="table table-hover w-50">

            {% for product in products %}
                <tr>
                    <td scope="row" class="px-5">{{ product|title }}</td>

                    <td scope="row" class="px-5 row justify-content-center">
                        <a  href="" class="btn btn-outline-secondary btn-sm mr-1">Ver</a>
                        <a  href="" class="btn btn-outline-secondary btn-sm mr-1">Editar</a>
                        {% include 'common/delete_button.html' with url='products:delete' id=product.id class='btn-outline-secondary btn-sm' %}
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td class="p-0" colspan="999"></td>
            </tr>

        </table>
    </div>

{% endblock %}